<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Default">
	<link rel="stylesheet" href="base.css" type="text/css">
	<link rel="stylesheet" href="nav.css" type="text/css" />
    <script src="prototype.js" type="text/javascript"></script>
    <script src="scriptaculous.js" type="text/javascript"></script>
    <title>Courser</title>
  </head>
  <body>
  <div id="bodywrap">
    <header>
    <h1><a href="index.html">Courser</a></h1>
    <div class="tagline">Make a plan</div>
	<div id="navbar">
	<ul id ="globalnav">
        <li><a href="catalog.html" class="here">Browse Catalog</a></li>
        
        <li><a href="#">Student</a>		
        </li>
    	<li><a href="#">Account</a></li>
    </ul>
	</div>
    </header>
    <section id="central">
	
    <hr class="hidden">
    <h1>
      CoursePlan Info Page
    </h1>
    <div class="Courseplan">
      <h2>
        Courseplan
      </h2>
      <div class="Student">
        <div id="name">
          <a href="student.html">Ben Bitdiddle</a>
        </div>
        <div id="student_id">
          31415
        </div>
      </div>
      <div class="Control Panel">
        <ul>
          <li>
            <a href="#">Clear stored solutions</a>
          </li>
          <li>
            <a href="#">Solve a requirement</a>
          </li>
          <li>
            <a href="#">Plan remeaining semesters</a>
          </li>
        </ul>
      </div>
      <div id="subjlist01" class="Subject_collection">
        <h3>
          Desired Classes
        </h3>
        <ul>
          <li>
            <div id="subj0000" class="Subject">
              Balloon Theory
            </div>
          </li>
          <li>
            <div id="subj0001" class="Subject">
              Beginner Baking
            </div>
          </li>
          <li>
            <div id="subj0002" class="Subject">
              Beginner Hula Hoops
            </div>
          </li>
          <li>
            <div id="subj0003" class="Subject">
              Intermediate Pies
            </div>
          </li>
        </ul>
      </div>
      <div id="termlist01" class="Term_collection">
        <h3>
          Semester Plans
        </h3>
        <ul>
          <li>
            <div id="term0000" class="Term">
              <span class="season">Fall</span> <span class="year">2012</span>
              <div class="SemesterPlan">
                <h2>
                  SemesterPlan
                </h2>
                <div id="subjlist02" class="Subject_collection">
                  Desired Classes
                  <ul>
                    <li>
                      <div id="subj0010" class="Subject">
                        Balloon Theory
                      </div>
                    </li>
                    <li>
                      <div id="subj0011" class="Subject">
                        Beginner Baking
                      </div>
                    </li>
                    <li>
                      <div id="subj0012" class="Subject">
                        Beginner Hula Hoops
                      </div>
                    </li>
                    <li>
                      <div id="subj0013" class="Subject">
                        Intermediate Pies
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="Meetingset">
                  Reserved Times
                  <div class="weekchart">
                    <ul>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div id="term0001" class="Term">
              <span class="season">IAP</span> <span class="year">2013</span>
              <div class="SemesterPlan">
                <h2>
                  Empty SemesterPlan
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div id="term0002" class="Term">
              <span class="season">Spring</span> <span class="year">2013</span>
              <div class="SemesterPlan">
                <h2>
                  SemesterPlan
                </h2>
                <div id="subjlist03" class="Subject_collection">
                  Desired Classes
                  <ul>
                    <li>
                      <div id="subj0020" class="Subject">
                        Balloon Theory
                      </div>
                    </li>
                    <li>
                      <div id="subj0021" class="Subject">
                        Beginner Baking
                      </div>
                    </li>
                    <li>
                      <div id="subj0022" class="Subject">
                        Beginner Hula Hoops
                      </div>
                    </li>
                    <li>
                      <div id="subj0023" class="Subject">
                        Intermediate Pies
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="Meetingset">
                  Reserved Times
                  <div class="weekchart">
                    <ul>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                      <li>
                        <div class="Meeting">
                          Meeting <span class="time">09:35 Monday</span> <span class="time">10:55 Monday</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div id="term0013" class="Term">
              <span class="season">Fall</span> <span class="year">2013</span>
            </div>
          </li>
          <li>
            <div id="term0014" class="Term">
              <span class="season">IAP</span> <span class="year">2014</span>
            </div>
          </li>
          <li>
            <div id="term0015" class="Term">
              <span class="season">Spring</span> <span class="year">2014</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </section>
    <footer>    
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Our Friends</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    </footer>
</div>
.

</body>
</html>
