<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Default" />
<script src="prototype.js" type="text/javascript"></script>
<script src="scriptaculous.js" type="text/javascript"></script>
</head>
<body>

<h1>Student Info Page</h1>
<div class="Student"> 
	<div id ="name">Ben Bitdiddle</div>
	<div id ="student_id">31415</div> 	
	<div id="subjects_taken" class="Subject_collection">Subjects Taken
		<ul>
		<li><div id = "subj0000" class="Subject">Balloon Theory</div></li>
		<li><div id = "subj0001" class="Subject">Beginner Baking</div></li>
		<li><div id = "subj0002" class="Subject">Beginner Hula Hoops</div></li>
		<li><div id = "subj0003" class="Subject">Intermediate Pies</div></li>
		</ul>
	</div>
	<div><a href="courseplan.html">View Ben's CoursePlan</a>
	<a href="#">View Ben's previous Terms</a>
	</div>

</div>

</body>
</html>
