<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Default">
	<link rel="stylesheet" href="base.css" type="text/css">
	<link rel="stylesheet" href="nav.css" type="text/css" />
    <script src="prototype.js" type="text/javascript"></script>
    <script src="scriptaculous.js" type="text/javascript"></script>
    <title>Courser</title>
  </head>
  <body>
  <div id="bodywrap">
    <header>
    <h1><a href="index.html">Courser</a></h1>
    <div class="tagline">Make a plan</div>
	<div id="navbar">
	<ul id ="globalnav">
        <li><a href="catalog.html" class="here">Browse Catalog</a></li>
        
        <li><a href="#">Student</a>		
        </li>
    	<li><a href="#">Account</a></li>
    </ul>
	</div>
    </header>
    <section id="central">
	
    <hr class="hidden">
    <div class="Subject_long">
      <div id="name">
        <h3>
          12.34 Cake Design
        </h3>
      </div>
      <div class="Control Panel">
        <ul>
          <li>
            <a href="#">Bookmark</a>
          </li>
          <li>
            <a href="#">Add to a term</a>
          </li>
        </ul>
      </div>
	  <h4>Requirement:</h4>
      <div id="Prereq" class ="Requirement">
        None
      </div>
	  <h4>Course Level:</h4>
      <div id="course_level">
        Undergraduate
      </div>
      <div id="description">
        <p>
          Cakes are baked and eaten.  We will look at the ways in which a cake fulfills its role as a delicious tasty treat.   Different flavors and sizes are discussed.
          Covers chocolate, vanilla, and lemon cakes. No previous cake
          knowledge is needed.  Enrollment is limited.
        </p>
      </div>
    </div>
    </section>
    <footer>    
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Our Friends</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    </footer>
</div>
.

</body>
</html>
